# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar

# Kubernetes
*.yaml~
*.yml~

# Local environment files
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# Node (if frontend included)
node_modules/
